<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<style>
			body {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				margin: 0;
				flex-direction: column;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>結帳成功</h1>
		<p>5秒後導回官網</p>
		<a
			id="redirectLink"
			href="https://eliza5852.github.io/ECArtisans-Fontend0/?#/"
		>
			點擊到登入畫面
		</a>
		<script>
			setTimeout(function () {
				window.location.href = document.getElementById('redirectLink').href;
			}, 5000); // 5000 毫秒 = 5 秒
		</script>
	</body>
</html>
